.mov_img {
  width: 250px;
}
.favoris {
  width: 30px;
  cursor: pointer;
}

.cward{

  padding-top:70px;
  margin-top:50px;
  color: rgb(107, 104, 104);
  margin-bottom: 30px;
}
.cward:hover{
  transform: scale(1.1);
}
.fav_button{
  border-radius: 50px;
  background-color:rgb(190, 4, 4);
}